# Entorno virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Archivos de Redis
dump.rdb

# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de subida
static/uploads/*
!static/uploads/.gitkeep 